.logo-container {
  z-index: 0;
  width: 40%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 25%;
  right: 5%;
  bottom: 0;
  left: auto;
  margin: auto;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
    transform: rotateZ(20deg) !important;
    z-index: 1;
  }
}

